
#header{
  background-color: #ffffff;
  border: solid 30px #ffffff;
}
body{
  background-color:#3c3c3c;
  color: #ffffff;
  text-align: center;
}

button{
padding: 10px 10px 10px 10px;
margin: 20px 40px 20px 10px;
background-color: #3c3c3c;
border: solid 3px blue;
color: red;
text-transform: uppercase;
}
a{
  text-decoration: none;
  color: red;

}
img{
}
head{
  position: fixed;
}
p{
  letter-spacing: .1em;
  text-align: center;
  padding: 20px 20px 0 0;
  font-size: 14px
}
strong{
  color: red;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: .1em;
}
#content {
  text-align: center;
}
.hours{
  text-align: center;
}
.columnOne {
}

.columnTwo {
  text-align: right;
}
#nav{
  background-color: black;
  opacity: 50%;
  color: white;
  text-transform: uppercase;
  text-align: right;
  line-height: 50px;
  text-decoration:none;
  height:50px;
}
#nav a{
  color:white;
  padding: 0 10px 0 10px;
  font-size: 20px;
}
a:active{
  border: solid 3px white;
}
a:hover{
  border: solid 3px white;
}
#footer{
  background-color: black;
  color: white;
}
